@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter , sans-serif;
}

:root {
  color-scheme: light;
  color: #18181b;
  background-color: #ffffff;
}

:root[class="dark"] {
  color-scheme: dark;
  color: #ffffff;
  background-color: #18181b;
}

